@charset "UTF-8";

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format('opentype');
}


* {
  margin: 0;
  padding: 0;
  position: relative;
  outline: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, YuGothic, Arial, "Noto Sans Japanese", "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
  color: #666;
  letter-spacing: 0.03em;
}

body {
  width: 100%;
  line-height: 1.8em;
  background-color: #fdfdfd;
}

#cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255,255,255);
  z-index: 1000;
  display: none;
}

#container {
  a {
    color: #37b;
    text-decoration: none;
  }

  #header-block,#title-block,#controls-block,#article-block {
    margin: 0 auto;
    width: calc(100% - 32px);
    max-width: 800px;
  }

  #header-block {
    width: 100%;
    height: 90px;
    padding: 8px 16px;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #fdfdfd;
    box-shadow: none;

    #img-logo {
      margin: 10px 0;
      height: calc(100% - 20px);
    }
  }

  #title-block {
    margin-top: 24px;
    margin-bottom: 24px;

    h1 {
      font-size: 1.3em;
      font-weight: bold;
      color: #333;
      margin-bottom: 4px;
    }

    p {
      margin-bottom: 8px;
    }

    .date {
      color: #aaa;
      font-size: 0.9em;
      position: relative;

      #link-language {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  #controls-block {
    margin: 0 auto;
    margin-bottom: 12px;
    text-align: center;

    select {
      width: 240px;
      height: 32px;
      margin-bottom: 12px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-size: 10%;
      background-position: 97% 95%;
      background-repeat: no-repeat;
      background-image: url(../img/ic_keyboard_arrow_down_black_24dp_2x.png);
      font-size: 16px;  // if smaller than 16px, zoomed when focused
      padding: 4px 0 0 2px;
      border-radius: 0;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #aaa;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #map-block {
    width: 100%;
    height: 480px;
    transition: none;
    position: relative;

    #map {
      width: 100%;
      height: 100%;
      background-color: #255;
      background: radial-gradient(circle, #255 200px, #366 400px);
    }

    #map-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.8);
      z-index: 5000;
      opacity: 0;
      pointer-events: none;
      transition: all ease 0.2s;

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: #fcfcfc;
        font-size: 0.9em;
        text-align: center;
      }

      &.show {
        opacity: 1;
        pointer-events: auto;
      }
    }

    #legend {
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 8px 16px 8px 12px;
      background-color: rgba(255,255,255,0.8);
      list-style: none;
      border-radius: 4px;
      z-index: 500;

      li {
        text-indent: 18px;
        font-size: 0.7em;
        color: #666;
        height: 1.2em;
        line-height: 1.2em;
        vertical-align: middle;

        .circle {
          $r: 10px;
          position: absolute;
          width: $r;
          height: $r;
          border-radius: $r / 2;
          top: calc(50% - (#{$r} / 2));
          left: 4px;

          &.c1  {background-color: #CE5A2D;}
          &.c2  {background-color: #FF8455;}
          &.c3  {background-color: #FF9972;}
          &.c4  {background-color: #FFAE8F;}
          &.c5  {background-color: #FFC3AB;}
          &.c6  {background-color: #FFD7C8;}
          &.c7  {background-color: #FAFAFA;}
          &.c8  {background-color: #B9EDFF;}
          &.c9  {background-color: #8AC6DA;}
          &.c10  {background-color: #65A6BC;}
          &.c11  {background-color: #529FB9;}
          &.c12  {background-color: #3988A3;}
          &.c13  {background-color: #1B5467;}
        }
      }
    }

    #tooltip {
      position: absolute;
      bottom: 0px;
      right: 8px;
      width: calc(100% - 16px);
      padding: 4px 8px;
      background-color: rgba(0,0,0,0.7);
      border: none;
      border-radius: 4px;
      opacity: 0;
      pointer-events: none;
      z-index: -1;
      font-size: 0.8em;
      transition: all ease 0.2s;

      #title {
        font-size: 1.4em;
        color: #fcfcfc;
        margin-bottom: 4px;
        color: rgba(255,255,255,0.96);
      }

      #subtitle {
        font-size: 1.0em;
        margin-bottom: 4px;
        color: rgba(255,255,255,0.7);
      }

      table {
        margin: auto;

        th,td {
          padding: 2px 4px;
          text-align: right;
          color: rgba(255,255,255,0.9);
          font-size: 1.1em;

          span {
            font-size: 0.5em;
            color: rgba(255,255,255,0.7);
            margin-left: 2px;

            &.n {
              margin-right: 2px;
            }
          }

          &.value {
            color: #ccc;

            &.plus, &.plus span {
              color: #f96;
            }

            &.minus, &.minus span {
              color: #6af;
            }

          }
        }

        th {
          padding: 0 4px;
          font-size: 1.0em;
          color: rgba(255,255,255,0.7);
        }
      }

      &.show {
        bottom: 16px;
        opacity: 1;
        pointer-events: auto;
        z-index: 3000;
      }
    }

    #button-close {
      position: fixed;
      top: 8px;
      right: 8px;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 6px rgba(0,0,0,0.4);
      background: no-repeat center/80% url('../../../assets/img/icon-close.svg');
      background-color: #fefefe;
      z-index: 1000;
      cursor: pointer;
      display: none;
    }
  }

  p.fullscreen {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 0.9em;

    a {
      cursor: pointer;
    }
  }

  #article-block {
    p {
      margin-bottom: 1em;
    }
  }

  #social-block {
    display: flex;
    width: 330px;
    margin: 48px auto 48px auto;

    a {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      margin: 0 16px;

      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;

      &.fbshare {background-image: url('../../../assets/img/social-icon-fbshare.svg');}
      &.twitter {background-image: url('../../../assets/img/social-icon-twitter.svg');}
      &.gplus   {background-image: url('../../../assets/img/social-icon-gplus.svg'); background-size: 90%;}
      &.line    {background-image: url('../../../assets/img/social-icon-line.png');}
    }
  }

  #footer-block {
    color: #aaa;
    text-align: center;
    height: 120px;
    font-size: 0.8em;

    hr {
      border: none;
      border-top: 1px solid #eee;
      margin-top: 24px;
      margin-bottom: 32px;
    }

    #img-corporate {
      width: 140px;
      opacity: 0.8;
    }
  }
}

// When full screen
body.fullscreen {
  overflow-y: hidden;

  #container {
    #map-block {
      z-index: 100;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      #button-close {
        display: block;
      }

      #legend {
        top: 68px;
      }
    }
  }
}

// Tablet
@media screen and (min-width: 600px) {
  #container {
    #map-block {
      height: 580px;

      #legend {
        li {
          font-size: 0.8em;
        }
      }

      #tooltip {
        padding: 8px 16px;
        width: auto;

        #title {
          font-size: 1.6em;
        }

        #subtitle {
          font-size: 1.1em;
        }

        table {
          td {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

// PC
@media screen and (min-width: 900px) {
  #container {
    #map-block {
      height: 680px;
    }
  }
}
